.header{
  display:flex;

  justify-content:space-between;
  align-items: center;
  padding: 15px 28px 15px 24px;
  .header__logo{
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    .header__logo--icon{
      width:40px;
      height: 40px;
    }
    .header__logo--name{
      color: $red;
      font-size: 20px;
      font-weight: 700;
    }
  }
  .header__nav{
    display:flex;
    align-items: center;
    .header__nav--itens{
      display:flex;
      .nav-item{
        padding: 0 16px;
        .item-link{
          text-decoration: none;
          font-size: 14px;
          color: $black;
          font-weight: 700;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .buttons{
      display:flex;
      margin-left: 24px;
      .button{
        font-size: 14px;
        font-weight: 700;
        padding: 11px 12px;
        border-radius: 24px;
        border:none;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .login{
        background-color: $red;
        color: $white;
      }
      .signup{
        margin-left: 16px;
      }
    }

  }
}
